# dependencies
node_modules/

# production builds
dist/
build/

# environment variables
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Unwanted Folder
old/

# Unwanted Files
backend/uploads/contents/*
backend/uploads/covers/*
!backend/uploads/contents/.gitkeep
!backend/uploads/covers/.gitkeep